button {
    margin:10px;
}

body {
    background-image:url("https://d2rormqr1qwzpz.cloudfront.net/photos/2012/11/05/41403-enterprise_restore.jpg"), url("https://images.unsplash.com/photo-1465101162946-4377e57745c3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1357&q=80");
    background-size:100%;
    background-repeat:no-repeat, repeat;
}
#gifs {
    padding:8px;
}
.gifDiv {
    float:left;
    margin:4px;
}
.jumbotron {
    text-align:center;
    font-family: 'Orbitron', sans-serif;
    color:white;
    background-image:url("https://images.unsplash.com/photo-1465101162946-4377e57745c3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1357&q=80");
    background-size:100%;
}
h1 {
    font-size:50px;
}
p {
    color:white;
    font-size:25px;
}
form {
    color:white;
    font-family: 'Orbitron', sans-serif;
}